<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>New Job</title>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>
<br/><br/>
<h1>Add New Job</h1>
<form th:action="@{'/newjob/' + ${job.id}}" th:object="${job}" method="post">
    <div><label>     Title     : <input type="text" th:field="*{title}"/></label></div>
    <div><label>    Employer   : <input type="text" th:field="*{employer}" /></label></div>
    <div><label>   Salary Min  : <input type="text" th:field="*{salaryLow}" /></label></div>
    <div><label>   Salary Max  : <input type="text" th:field="*{salaryHigh}" /></label></div>
    <div><label>  Description  : <input type="text" th:field="*{description}" /></label></div>
    <div><input type="submit" value="Submit Job"/></div>
</form>
<div th:each="s : ${skills}">
    <p th:text="${s.skill} + ', ' + ${s.proficiency}"/>
</div>
<form th:action="@{'/jobskill/' + ${job.id}}" th:object="${skill}" method="post">
    <div><label>    Skill  : <input type="text" th:field="*{skill}"/></label></div>
    <div><label>Proficiency: <input type="text" th:field="*{proficiency}" /></label></div>
    <div><input type="submit" value="Add Skill"/></div>
</form>
</body>
</html>